
.checkbox-custom,.radio-custom {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}

.checkbox-custom label,.radio-custom label {
	min-height: 22px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}

.checkbox-custom input[type=checkbox],.radio-custom input[type=radio] {
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -20px
}

.checkbox-custom.disabled label,.radio-custom.disabled label,fieldset[disabled] .checkbox-custom label,fieldset[disabled] .radio-custom label {
	cursor: not-allowed
}

.input-group-addon .checkbox-custom,.input-group-addon .radio-custom {
	margin: 0
}

.checkbox-custom {
	padding-left: 20px
}

.checkbox-custom label {
	position: relative;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle
}

.checkbox-custom label::after,.checkbox-custom label::before {
	position: absolute;
	margin-left: -20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	left: 0
}

.checkbox-custom label:empty {
	padding-left: 0
}

.checkbox-custom label::before {
	content: "";
	background-color: #fff;
	border: 1px solid #e4eaec;
	border-radius: .215rem;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s
}

.checkbox-custom label::after {
	top: 0;
	padding-top: 1px;
	font-size: 12px;
	line-height: 20px;
	color: #76838f;
	text-align: center
}

.checkbox-custom input[type=radio],.checkbox-custom input[type=checkbox] {
	z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0
}

.checkbox-custom input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-custom input[type=radio]:checked+label::before,.checkbox-custom input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-custom input[type=checkbox]:checked+label::before {
	border-color: #e4eaec;
	border-width: 10px;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s
}

.checkbox-custom input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-custom input[type=radio]:checked+label::after,.checkbox-custom input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-custom input[type=checkbox]:checked+label::after {
	font-family: "Web Icons";
	content: "ï†’"
}

.checkbox-custom input[type=radio]:disabled,.checkbox-custom input[type=checkbox]:disabled {
	cursor: not-allowed
}

.checkbox-custom input[type=radio]:disabled+input[type=hidden]+label,.checkbox-custom input[type=radio]:disabled+label,.checkbox-custom input[type=checkbox]:disabled+input[type=hidden]+label,.checkbox-custom input[type=checkbox]:disabled+label {
	opacity: .65
}

.checkbox-custom input[type=radio]:disabled+input[type=hidden]+label::before,.checkbox-custom input[type=radio]:disabled+label::before,.checkbox-custom input[type=checkbox]:disabled+input[type=hidden]+label::before,.checkbox-custom input[type=checkbox]:disabled+label::before {
	cursor: not-allowed;
	background-color: #f3f7f9;
	border-color: #e4eaec;
	border-width: 1px
}

.checkbox-custom.checkbox-circle label::before {
	border-radius: 50%
}

.checkbox-custom.checkbox-inline {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0
}

.checkbox-inline+.checkbox-inline {
	margin-left: 20px
}

.checkbox-default input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-default input[type=radio]:checked+label::before,.checkbox-default input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-default input[type=checkbox]:checked+label::before {
	background-color: #fff;
	border-color: #e4eaec;
	border-width: 1px
}

.checkbox-default input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-default input[type=radio]:checked+label::after,.checkbox-default input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-default input[type=checkbox]:checked+label::after {
	color: #997b71
}

.checkbox-danger input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-danger input[type=radio]:checked+label::after,.checkbox-danger input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-danger input[type=checkbox]:checked+label::after,.checkbox-info input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-info input[type=radio]:checked+label::after,.checkbox-info input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-info input[type=checkbox]:checked+label::after,.checkbox-primary input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-primary input[type=radio]:checked+label::after,.checkbox-primary input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-primary input[type=checkbox]:checked+label::after,.checkbox-success input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-success input[type=radio]:checked+label::after,.checkbox-success input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-success input[type=checkbox]:checked+label::after,.checkbox-warning input[type=radio]:checked+input[type=hidden]+label::after,.checkbox-warning input[type=radio]:checked+label::after,.checkbox-warning input[type=checkbox]:checked+input[type=hidden]+label::after,.checkbox-warning input[type=checkbox]:checked+label::after {
	color: #fff
}

.checkbox-primary input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-primary input[type=radio]:checked+label::before,.checkbox-primary input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-primary input[type=checkbox]:checked+label::before {
	background-color: #997b71;
	border-color: #997b71
}

.checkbox-danger input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-danger input[type=radio]:checked+label::before,.checkbox-danger input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-danger input[type=checkbox]:checked+label::before {
	background-color: #ff4c52;
	border-color: #ff4c52
}

.checkbox-info input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-info input[type=radio]:checked+label::before,.checkbox-info input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-info input[type=checkbox]:checked+label::before {
	background-color: #0bb2d4;
	border-color: #0bb2d4
}

.checkbox-warning input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-warning input[type=radio]:checked+label::before,.checkbox-warning input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-warning input[type=checkbox]:checked+label::before {
	background-color: #eb6709;
	border-color: #eb6709
}

.checkbox-success input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-success input[type=radio]:checked+label::before,.checkbox-success input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-success input[type=checkbox]:checked+label::before {
	background-color: #11c26d;
	border-color: #11c26d
}

.checkbox-sm {
	padding-left: 18px
}

.checkbox-sm label {
	padding-left: 8px
}

.checkbox-sm label:empty {
	padding-left: 0
}

.checkbox-sm label::after,.checkbox-sm label::before {
	width: 18px;
	height: 18px;
	margin-left: -18px
}

.checkbox-sm label::after {
	font-size: 10px;
	line-height: 18px
}

.checkbox-sm input[type=radio],.checkbox-sm input[type=checkbox] {
	width: 18px;
	height: 18px
}

.checkbox-sm input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-sm input[type=radio]:checked+label::before,.checkbox-sm input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-sm input[type=checkbox]:checked+label::before {
	border-width: 9px
}

.checkbox-lg {
	padding-left: 24px
}

.checkbox-lg label {
	padding-left: 12px
}

.checkbox-lg label:empty {
	padding-left: 0
}

.checkbox-lg label::after,.checkbox-lg label::before {
	width: 24px;
	height: 24px;
	margin-left: -24px
}

.checkbox-lg label::after {
	font-size: 14px;
	line-height: 24px
}

.checkbox-lg input[type=radio],.checkbox-lg input[type=checkbox] {
	width: 24px;
	height: 24px
}

.checkbox-lg input[type=radio]:checked+input[type=hidden]+label::before,.checkbox-lg input[type=radio]:checked+label::before,.checkbox-lg input[type=checkbox]:checked+input[type=hidden]+label::before,.checkbox-lg input[type=checkbox]:checked+label::before {
	border-width: 12px
}

.radio-custom {
	padding-left: 20px
}

.radio-custom label {
	position: relative;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle
}

.radio-custom label::after,.radio-custom label::before {
	position: absolute;
	margin-left: -20px;
	display: inline-block
}

.radio-custom label:empty {
	padding-left: 0
}

.radio-custom label::before {
	left: 0;
	width: 20px;
	height: 20px;
	content: "";
	background-color: #fff;
	border: 1px solid #e4eaec;
	border-radius: 50%;
	-webkit-transition: border .3s ease-in-out 0s,color .3s ease-in-out 0s;
	transition: border .3s ease-in-out 0s,color .3s ease-in-out 0s
}

.radio-custom label::after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	content: " ";
	background-color: transparent;
	border: 2px solid #76838f;
	border-radius: 50%;
	-webkit-transition: .1s cubic-bezier(.8,-.33,.2,1.33);
	transition: .1s cubic-bezier(.8,-.33,.2,1.33);
	-webkit-transform: scale(0,0);
	transform: scale(0,0)
}

.loader-dot:after,.loader-dot:before,.loader-grill:after,.loader-grill:before {
	content: "";
	background: #a3afb7;
	position: absolute
}

.radio-custom input[type=radio] {
	z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0
}

.radio-custom input[type=radio]:disabled,.radio-custom input[type=radio]:disabled+input[type=hidden]+label::before,.radio-custom input[type=radio]:disabled+label::before {
	cursor: not-allowed
}

.radio-custom input[type=radio]:checked+input[type=hidden]+label::before,.radio-custom input[type=radio]:checked+label::before {
	border-color: #e4eaec;
	border-width: 10px
}

.radio-custom input[type=radio]:checked+input[type=hidden]+label::after,.radio-custom input[type=radio]:checked+label::after {
	-webkit-transform: scale(1,1);
	transform: scale(1,1)
}

.radio-custom input[type=radio]:disabled+input[type=hidden]+label,.radio-custom input[type=radio]:disabled+label {
	opacity: .65
}

.radio-custom.radio-inline {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0
}

.radio-inline+.radio-inline {
	margin-left: 20px
}

.radio-default input[type=radio]:checked+input[type=hidden]+label::before,.radio-default input[type=radio]:checked+label::before {
	background-color: #fff;
	border-color: #e4eaec;
	border-width: 1px
}

.radio-default input[type=radio]:checked+input[type=hidden]+label::after,.radio-default input[type=radio]:checked+label::after,.radio-primary input[type=radio]:checked+input[type=hidden]+label::before,.radio-primary input[type=radio]:checked+label::before {
	border-color: #997b71
}

.radio-primary input[type=radio]:checked+input[type=hidden]+label::after,.radio-primary input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-danger input[type=radio]:checked+input[type=hidden]+label::before,.radio-danger input[type=radio]:checked+label::before {
	border-color: #ff4c52
}

.radio-danger input[type=radio]:checked+input[type=hidden]+label::after,.radio-danger input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-info input[type=radio]:checked+input[type=hidden]+label::before,.radio-info input[type=radio]:checked+label::before {
	border-color: #0bb2d4
}

.radio-info input[type=radio]:checked+input[type=hidden]+label::after,.radio-info input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-warning input[type=radio]:checked+input[type=hidden]+label::before,.radio-warning input[type=radio]:checked+label::before {
	border-color: #eb6709
}

.radio-warning input[type=radio]:checked+input[type=hidden]+label::after,.radio-warning input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-success input[type=radio]:checked+input[type=hidden]+label::before,.radio-success input[type=radio]:checked+label::before {
	border-color: #11c26d
}

.radio-success input[type=radio]:checked+input[type=hidden]+label::after,.radio-success input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-sm {
	padding-left: 18px
}

.radio-sm label {
	padding-left: 8px
}

.radio-sm label:empty {
	padding-left: 0
}

.radio-sm label::before {
	width: 18px;
	height: 18px;
	margin-left: -20px
}

.radio-sm label::after {
	top: 7px;
	left: 7px;
	width: 4px;
	height: 4px;
	margin-left: -20px;
	border-width: 2px
}

.radio-sm input[type=radio] {
	width: 18px;
	height: 18px
}

.radio-sm input[type=radio]:checked+input[type=hidden]+label::before,.radio-sm input[type=radio]:checked+label::before {
	border-width: 9px
}

.radio-lg {
	padding-left: 24px
}

.radio-lg label {
	padding-left: 12px
}

.radio-lg label:empty {
	padding-left: 0
}

.radio-lg label::before {
	width: 24px;
	height: 24px;
	margin-left: -20px
}

.radio-lg label::after {
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	margin-left: -20px;
	border-width: 2px
}

.radio-lg input[type=radio] {
	width: 24px;
	height: 24px
}

.radio-lg input[type=radio]:checked+input[type=hidden]+label::before,.radio-lg input[type=radio]:checked+label::before {
	border-width: 12px
}

@media (min-width:768px) {
	.form-inline .checkbox-custom,.form-inline .radio-custom {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}

	.form-inline .checkbox-custom label,.form-inline .radio-custom label {
		padding-left: 10px
	}

	.form-inline .checkbox-custom input[type=checkbox],.form-inline .radio-custom input[type=radio] {
		position: absolute;
		margin-left: -20px
	}
}

.form-horizontal .checkbox-custom,.form-horizontal .radio-custom {
	padding-top: .358rem;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 1.93rem
}