
@media print {
	img {
		page-break-inside: avoid
    }
}
img {
	vertical-align: middle;
	border-style: none
}

.img-fluid,.img-thumbnail {
	max-width: 100%;
	height: auto
}

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: .215rem;
	box-shadow: 0 1px 2px rgba(0,0,0,.075)
}