
.nav-tabs {
	border-bottom: 1px solid #e4eaec
}

.nav-tabs .nav-item {
	margin-bottom: -1px
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .215rem;
	border-top-right-radius: .215rem
}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
	border-color: transparent
}

.nav-tabs .nav-link.disabled {
	color: #a3afb7;
	background-color: transparent;
	border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #997b71
}

.nav-tabs .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.nav-tabs-vertical .nav-tabs {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal
}

.nav-tabs-animate .tab-content,
.nav-tabs-vertical .tab-content {
	overflow: hidden
}

.nav-tabs-vertical::after {
	content: ""
}


.nav-tabs .nav-link {
	color: #76838f;
	-webkit-transition: .25s;
	transition: .25s
}

.nav-tabs .nav-link>.icon {
	margin-right: .5em;
	line-height: 1
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item.show .nav-link:focus,
.nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	border-color: transparent transparent #997b71
}

.nav-tabs .dropdown-menu {
	margin-top: 5px
}

.nav-tabs .dropup .dropdown-menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -1px
}
.nav-tabs.nav-tabs-bottom {
	border-top: 1px solid #e4eaec;
	border-bottom: none
}

.nav-tabs.nav-tabs-bottom .nav-item {
	margin-top: -1px;
	margin-bottom: 0
}

.nav-tabs.nav-tabs-bottom .nav-link {
	border-radius: 0 0 .286rem .286rem
}

.nav-tabs.nav-tabs-bottom .nav-link:focus,.nav-tabs.nav-tabs-bottom .nav-link:hover {
	border-top-color: #e4eaec;
	border-bottom-color: transparent
}

.nav-tabs-reverse .nav-item {
	float: right
}

.nav-tabs-reverse .nav-item+.nav-item {
	margin-right: 2px;
	margin-left: 0
}

.nav-tabs-solid {
	border-bottom-color: #f3f7f9
}

.nav-tabs-solid .nav-link:hover {
	border-color: transparent
}

.nav-tabs-solid .nav-item.open .nav-link,.nav-tabs-solid .nav-item.open .nav-link:focus,.nav-tabs-solid .nav-item.open .nav-link:hover,.nav-tabs-solid .nav-item.show .nav-link,.nav-tabs-solid .nav-item.show .nav-link:focus,.nav-tabs-solid .nav-item.show .nav-link:hover,.nav-tabs-solid .nav-link.active,.nav-tabs-solid .nav-link.active:focus,.nav-tabs-solid .nav-link.active:hover {
	color: #76838f;
	background-color: #f3f7f9;
	border-color: transparent
}

.nav-tabs-solid~.tab-content {
	padding: 1.429rem;
	background-color: #f3f7f9
}

.nav-tabs-solid.nav-tabs-bottom .nav-link.active,.nav-tabs-solid.nav-tabs-bottom .nav-link.active:focus,.nav-tabs-solid.nav-tabs-bottom .nav-link.active:hover {
	border: none
}

.nav-tabs-line {
	position: relative
}

.nav-tabs-line .nav-link {
	padding: .715rem 1.429rem;
	border-bottom: 2px solid transparent
}

.nav-tabs-line .nav-link:focus,.nav-tabs-line .nav-link:hover {
	background-color: transparent
}

.nav-tabs-line .nav-link:hover {
	border-bottom-color: #ccd5db
}

.nav-tabs-line .nav-item.open .nav-link,.nav-tabs-line .nav-item.open .nav-link:focus,.nav-tabs-line .nav-item.open .nav-link:hover,.nav-tabs-line .nav-item.show .nav-link,.nav-tabs-line .nav-item.show .nav-link:focus,.nav-tabs-line .nav-item.show .nav-link:hover,.nav-tabs-line .nav-link.active,.nav-tabs-line .nav-link.active:focus,.nav-tabs-line .nav-link.active:hover {
	color: #997b71;
	background-color: transparent;
	border-bottom: 2px solid #997b71
}

.nav-tabs-line .dropdown-menu {
	margin-top: 0
}

.nav-tabs-line .dropup .dropdown-menu {
	margin-bottom: 0
}

.nav-tabs-line .nav-item.open>.nav-link,.nav-tabs-line .nav-item.open>.nav-link:focus,.nav-tabs-line .nav-item.open>.nav-link:hover,.nav-tabs-line .nav-item.show>.nav-link,.nav-tabs-line .nav-item.show>.nav-link:focus,.nav-tabs-line .nav-item.show>.nav-link:hover {
	border-bottom-color: #997b71
}

.nav-tabs-line.nav-tabs-bottom .nav-link {
	border-top: 2px solid transparent;
	border-bottom: none
}

.nav-tabs-line.nav-tabs-bottom .nav-link:hover {
	border-top-color: #ccd5db;
	border-bottom-color: transparent
}

.nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link,.nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link:focus,.nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link:hover,.nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link,.nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link:focus,.nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link:hover,.nav-tabs-line.nav-tabs-bottom .nav-link.active,.nav-tabs-line.nav-tabs-bottom .nav-link.active:focus,.nav-tabs-line.nav-tabs-bottom .nav-link.active:hover {
	border-top: 2px solid #997b71;
	border-bottom: none
}

.nav-tabs-line.nav-tabs-bottom .nav-item.open>.nav-link,.nav-tabs-line.nav-tabs-bottom .nav-item.open>.nav-link:focus,.nav-tabs-line.nav-tabs-bottom .nav-item.open>.nav-link:hover,.nav-tabs-line.nav-tabs-bottom .nav-item.show>.nav-link,.nav-tabs-line.nav-tabs-bottom .nav-item.show>.nav-link:focus,.nav-tabs-line.nav-tabs-bottom .nav-item.show>.nav-link:hover {
	border-top-color: #997b71
}

.nav-tabs-vertical::after {
	display: block;
	clear: both
}

.nav-tabs-vertical .nav-tabs {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	float: left;
	border-right: 1px solid #e4eaec;
	border-bottom: none
}

.nav-tabs-vertical .nav-tabs .nav-item {
	float: none;
	margin-right: -1px;
	margin-bottom: 2px;
	margin-left: 0
}

.nav-tabs-vertical .nav-tabs .nav-link {
	border-radius: .286rem 0 0 .286rem
}

.nav-tabs-vertical .nav-tabs .nav-link:hover {
	border-right-color: #e4eaec;
	border-bottom-color: transparent
}

.nav-tabs-vertical .nav-tabs .nav-link.active,.nav-tabs-vertical .nav-tabs .nav-link.active:focus,.nav-tabs-vertical .nav-tabs .nav-link.active:hover {
	border-right-color: #997b71;
	border-bottom-color: transparent
}

.nav-tabs-vertical .nav-tabs-reverse {
	float: right;
	border-right: none;
	border-left: 1px solid #e4eaec
}

.nav-tabs-vertical .nav-tabs-reverse .nav-item {
	margin-right: 0;
	margin-left: -1px
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link {
	border-radius: 0 .286rem .286rem 0
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link:hover {
	border-right-color: transparent;
	border-left-color: #e4eaec
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link.active,.nav-tabs-vertical .nav-tabs-reverse .nav-link.active:focus,.nav-tabs-vertical .nav-tabs-reverse .nav-link.active:hover {
	border-right-color: transparent;
	border-left-color: #997b71
}

.nav-tabs-vertical .nav-tabs-solid {
	border-right-color: #f3f7f9
}

.nav-tabs-vertical .nav-tabs-solid .nav-link.active,.nav-tabs-vertical .nav-tabs-solid .nav-link.active:focus,.nav-tabs-vertical .nav-tabs-solid .nav-link.active:hover,.nav-tabs-vertical .nav-tabs-solid .nav-link:hover {
	border-color: transparent
}

.nav-tabs-vertical .nav-tabs-solid+.tab-content {
	padding: 1.429rem
}

.nav-tabs-vertical .nav-tabs-solid.nav-tabs-reverse {
	border-left-color: #f3f7f9
}

.nav-tabs-vertical .nav-tabs-line .nav-link {
	border-right: 2px solid transparent;
	border-bottom: none
}

.nav-tabs-vertical .nav-tabs-line .nav-link:hover {
	border-right-color: #ccd5db
}

.nav-tabs-vertical .nav-tabs-line .nav-link.active,.nav-tabs-vertical .nav-tabs-line .nav-link.active:focus,.nav-tabs-vertical .nav-tabs-line .nav-link.active:hover {
	border-right: 2px solid #997b71;
	border-bottom: none
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link {
	border-right-width: 1px;
	border-left: 2px solid transparent
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link:hover {
	border-color: transparent transparent transparent #ccd5db
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active,.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active:focus,.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active:hover {
	border-right: 1px solid transparent;
	border-left: 2px solid #997b71
}

.nav-tabs-inverse .nav-link.active,.nav-tabs-inverse .nav-link.active:focus,.nav-tabs-inverse .nav-link.active:hover {
	border-color: transparent
}

.nav-tabs-inverse .nav-tabs-solid {
	border-bottom-color: #fff
}

.nav-tabs-inverse .nav-tabs-solid .nav-link.active,.nav-tabs-inverse .nav-tabs-solid .nav-link.active:focus,.nav-tabs-inverse .nav-tabs-solid .nav-link.active:hover {
	color: #76838f;
	background-color: #fff
}

.nav-tabs-inverse.nav-tabs-vertical .nav-link.active,.nav-tabs-inverse.nav-tabs-vertical .nav-link.active:focus,.nav-tabs-inverse.nav-tabs-vertical .nav-link.active:hover {
	border-color: transparent
}

.nav-tabs-inverse.nav-tabs-vertical .nav-tabs-solid {
	border-right-color: #fff
}

.nav-tabs-inverse.nav-tabs-vertical .nav-tabs-solid.nav-tabs-reverse {
	border-left-color: #fff
}

.nav-tabs-inverse .tab-content {
	background: #fff
}

.nav-tabs-lg .nav-link {
	padding: .858rem 1.429rem;
	font-size: 1.286rem;
	line-height: 1.33333
}

.nav-tabs-sm .nav-link {
	padding: .358rem .715rem;
	font-size: .858rem;
	line-height: 1.5
}