
@media print {
	.navbar {
		display: none
	}
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-wrap: wrap;
	position: relative;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.navbar::after {
	display: block;
	clear: both;
	content: ""
}

.navbar>.container,
.navbar>.container-fluid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.navbar-nav {
	display: -webkit-box;
	display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none
}

.navbar-text {
	display: inline-block;
	padding-top: .715rem;
	padding-bottom: .715rem
}

.navbar-collapse {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.navbar-toggler {
	font-size: 1.286rem;
	background-color: transparent
}
.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer
}
.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: center center no-repeat;
	background-size: 100% 100%
}

@media (max-width:479.98px) {
	.navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:480px) {
	.navbar-expand-sm,.navbar-expand-sm .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal
	}

	.navbar-expand-sm {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.navbar-expand-sm .navbar-nav {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.navbar-expand-sm .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.navbar-expand-sm .navbar-collapse {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.navbar-expand-sm .navbar-toggler {
		display: none
	}
}

@media (max-width:767.98px) {
	.navbar-expand-md>.container,.navbar-expand-md>.container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:768px) {
	.navbar-expand-md,.navbar-expand-md .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal
	}

	.navbar-expand-md {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.navbar-expand-md .navbar-nav {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.navbar-expand-md .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-md>.container,.navbar-expand-md>.container-fluid {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.navbar-expand-md .navbar-collapse {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.navbar-expand-md .navbar-toggler {
		display: none
	}
}

@media (max-width:991.98px) {
	.navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:992px) {
	.navbar-expand-lg,.navbar-expand-lg .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal
	}

	.navbar-expand-lg {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.navbar-expand-lg .navbar-nav {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.navbar-expand-lg .navbar-collapse {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.navbar-expand-lg .navbar-toggler {
		display: none
	}
}

@media (max-width:1199.98px) {
	.navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:1200px) {
	.navbar-expand-xl,.navbar-expand-xl .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal
	}

	.navbar-expand-xl {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.navbar-expand-xl .navbar-nav {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.navbar-expand-xl .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.navbar-expand-xl .navbar-collapse {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.navbar-expand-xl .navbar-toggler {
		display: none
	}
}

@media (max-width:1599.98px) {
	.navbar-expand-xxl>.container,.navbar-expand-xxl>.container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:1600px) {
	.navbar-expand-xxl,.navbar-expand-xxl .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal
	}

	.navbar-expand-xxl {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.navbar-expand-xxl .navbar-nav {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.navbar-expand-xxl .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-xxl .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-xxl>.container,.navbar-expand-xxl>.container-fluid {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}

	.navbar-expand-xxl .navbar-collapse {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.navbar-expand-xxl .navbar-toggler {
		display: none
	}
}

.navbar-expand {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.navbar-expand>.container,.navbar-expand>.container-fluid {
	padding-right: 0;
	padding-left: 0
}

.navbar-expand .navbar-nav {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}


.navbar-expand .navbar-nav .dropdown-menu {
	position: absolute
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem
}

.navbar-expand>.container,.navbar-expand>.container-fluid {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.navbar-expand .navbar-collapse {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto
}

.navbar-expand .navbar-toggler {
	display: none
}


.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.3)
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.6)
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0,0,0,.15)
}

.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link {
	color: rgba(0,0,0,.8)
}

.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.3);
	border-color: rgba(0,0,0,.1)
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
	color: rgba(0,0,0,.3)
}

.navbar-light .navbar-text a,.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover {
	color: rgba(0,0,0,.8)
}


.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.5)
}

.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255,.75)
}

.navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255,255,255,.25)
}

.navbar-dark .navbar-nav .active>.nav-link,.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link.show,.navbar-dark .navbar-nav .show>.nav-link {
	color: #fff
}

.navbar-dark .navbar-toggler {
	color: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,.1)
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
	color: rgba(255,255,255,.5)
}

.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover {
	color: #fff
}

.navbar-collapse::after,.navbar-header::after {
	content: ""
}



.navbar-full {
	z-index: 1200
}

.navbar-sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1030;
	width: 100%
}

@media (min-width:480px) {
	.navbar {
		border-radius: .215rem
	}
	.navbar-full,
	.navbar-sticky-top {
		border-radius: 0
	}
}

.navbar {
	min-height: 4.286rem;
	padding: 0;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,.08)
}

.navbar-nav {
	margin: .6785rem -.7145rem
}

@media (max-width:767.98px) {
	.navbar-nav .open .dropdown-menu,.navbar-nav .show .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none
	}

	.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu .dropdown-item,.navbar-nav .show .dropdown-menu .dropdown-header,.navbar-nav .show .dropdown-menu .dropdown-item {
		padding: 5px 15px 5px 25px
	}

	.navbar-nav .open .dropdown-menu .dropdown-item,.navbar-nav .show .dropdown-menu .dropdown-item {
		line-height: 22px
	}

	.navbar-nav .open .dropdown-menu .dropdown-item:focus,.navbar-nav .open .dropdown-menu .dropdown-item:hover,.navbar-nav .show .dropdown-menu .dropdown-item:focus,.navbar-nav .show .dropdown-menu .dropdown-item:hover {
		background-image: none
	}
}

.navbar-toggler,.navbar-toggler:hover {
	background: 0 0!important
}

@media (min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0
	}

	.navbar-nav>.nav-item {
		float: left
	}

	.navbar-nav>.nav-item>.nav-link {
		padding-top: 1.357rem;
		padding-bottom: 1.357rem
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: -.7145rem
	}
}

.navbar-nav .nav-item {
	float: none
}

.navbar-nav .nav-link {
	padding-top: 1.572rem;
	padding-bottom: 1.572rem
}

.navbar-nav .nav-item .nav-link {
	padding-top: .715rem;
	padding-bottom: .715rem;
	line-height: 22px
}

.navbar-nav .nav-item+.nav-item {
	margin-left: 0
}

.navbar-nav>.nav-item>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.navbar-header::after {
	display: block;
	clear: both
}

.container-fluid .navbar-collapse,.container-fluid .navbar-header {
	margin-right: -.7145rem;
	margin-left: -.7145rem
}

@media (min-width:768px) {
	.navbar-header {
		float: left
	}

	.container-fluid .navbar-collapse,.container-fluid .navbar-header {
		margin-right: 0;
		margin-left: 0
	}

	.navbar-toggler {
		display: none
	}
}

.container-fluid .navbar-collapse {
	padding-right: 1.429rem;
	padding-left: 1.429rem
}

.navbar-toggler {
	position: relative;
	float: right;
	height: 4.286rem;
	padding: 1.357rem .7145rem;
	margin-top: 0;
	margin-right: .7145rem;
	margin-bottom: 0;
	line-height: 22px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .215rem;
	-webkit-transition: color .25s linear;
	transition: color .25s linear
}

.navbar-toggler:focus {
	outline: 0
}

.navbar-toggler .icon {
	margin-top: -1px
}

.navbar-toggler .icon-bar {
	display: block;
	width: 1.572rem;
	height: 2px;
	border-radius: 1px
}

.navbar-toggler .icon-bar+.icon-bar {
	margin-top: .286rem
}

.navbar-toggler-left {
	float: left;
	margin-right: 0;
	margin-left: .7145rem
}

.navbar-collapse {
	padding-right: .7145rem;
	padding-left: .7145rem;
	overflow-x: visible;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-webkit-overflow-scrolling: touch
}

.navbar-collapse::after {
	display: block;
	clear: both
}

@media (min-width:768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none
	}

	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important
	}
}

.navbar-collapse.in {
	overflow-y: visible
}




@media (min-width:768px) {
	.navbar-search.collapse {
		display: block!important;
		height: auto!important;
		overflow: visible!important;
		visibility: visible!important
	}
}

@media (max-width:767.98px) {

	.navbar-search {
		padding-right: .7145rem;
		padding-left: .7145rem
	}


	
}
.container-fluid>.navbar-search,.container>.navbar-search {
	margin-right: -.7145rem;
	margin-left: -.7145rem
}

.navbar-search-overlap {
	position: absolute!important;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: #fff
}

.navbar-search-overlap .form-control,.navbar-search-overlap .form-group {
	display: block!important;
	margin: 0
}

.navbar-search-overlap .form-control {
	height: 4.286rem!important;
	background-color: transparent!important;
	border-radius: 0
}

.navbar-search-overlap .form-control:focus {
	border-color: transparent
}

@media (max-width:767.98px) {
	.navbar-nav .nav-link.navbar-avatar {
		padding-top: .429rem;
		padding-bottom: .429rem
	}
}

.navbar-nav .nav-link.navbar-avatar {
	padding-top: 1.0715rem;
	padding-bottom: 1.0715rem
}

.navbar-avatar .avatar {
	width: 2.143rem
}


.navbar-btn {
	margin-top: .9995rem;
	margin-bottom: .9995rem
}

.btn-group-sm>.navbar-btn.btn,.navbar-btn.btn-sm {
	margin-top: 1.213rem;
	margin-bottom: 1.213rem
}

.btn-group-xs>.navbar-btn.btn,.navbar-btn.btn-xs,.navbar-text {
	margin-top: 1.357rem;
	margin-bottom: 1.357rem
}


@media (min-width:768px) {
	.container-fluid>.navbar-search,.container>.navbar-search {
		margin-right: 0;
		margin-left: 0
	}

	.navbar-text {
		float: left;
		margin-right: .7145rem;
		margin-left: .7145rem
	}

	.navbar-text.navbar-right:last-child {
		margin-right: 0
	}

	.navbar-left {
		float: left
	}

	.navbar-right {
		float: right;
		margin-right: -.7145rem
	}

	.navbar-right~.navbar-right {
		margin-right: 0
	}

	.navbar-right .dropdown-menu {
		right: 0;
		left: auto
	}

	.nav.hidden-float,.navbar.hidden-float {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media (max-width:767.98px) {
	.nav.hidden-float,.navbar.hidden-float {
		display: none!important
	}
}

.navbar>.container-fluid,.navbar>.containers {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0
}

.navbar>.container-fluid .navbar-collapse,.navbar>.containers .navbar-collapse {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

@media (max-width:767.98px) {
	.navbar>.container-fluid,.navbar>.containers {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%
	}

	.navbar>.container-fluid .navbar-header,.navbar>.containers .navbar-header {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto
	}

	.navbar>.container-fluid .navbar-collapse,.navbar>.container-fluid .navbar-search,.navbar>.containers .navbar-collapse,.navbar>.containers .navbar-search {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%
	}
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-wrap: wrap
}


.nav {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
    list-style: none;
    margin-bottom: 0
}

.nav-link:focus,.nav-link:hover {
	text-decoration: none
}

.nav-link.disabled {
	color: #a3afb7
}


.nav-fill .nav-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center
}

.nav-justified .nav-item {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center
}
.nav-link {
	overflow: hidden
}

.nav-link:focus,.nav-link:hover {
	background-color: #f3f7f9
}


.nav-link {
	position: relative;
	display: block;
	padding: .715rem 1.072rem
}

.nav-link:focus {
	outline: 0
}

.nav-link.disabled:focus,.nav-link.disabled:hover {
	background-color: transparent
}

.nav-link .close {
	display: inline-block;
	margin-left: 10px
}




