@media (max-width:767.98px) {
	.page-aside {
		-webkit-transition: visibility .1s ease,top .3s ease,left .5s ease,right .5s ease;
		transition: visibility .1s ease,top .3s ease,left .5s ease,right .5s ease
	}
}

.page {
	position: relative;
	min-height: 100vh;
	overflow: visible;
	background: #f1f4f5
}

.page.page-full {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto
}

.page-dark.layout-full {
	position: relative;
	z-index: 0;
	color: #fff
}

.page-dark.layout-full::after,.page-dark.layout-full::before {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	content: '';
	left: 0;
	height: 100%
}

.page-dark.layout-full::before {
	background-position: center top;
	background-size: cover
}

.page-dark.layout-full::after {
	background-color: rgba(38,50,56,.6)
}

.page-dark.layout-full .brand {
	margin-bottom: 22px
}

.page-dark.layout-full .brand-text {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase
}

.page-nav-tabs {
	padding: 0 20px
}

.page-content {
	padding: 20px
}

.page-content>:not(script):last-child {
	margin-bottom: 0!important
}

.page-content-actions {
	padding: 0 20px 20px
}

.page-content-actions::after {
	display: block;
	clear: both;
	content: ""
}

.page-content-actions .dropdown {
	display: inline-block
}

.page-content-table {
	padding: 0;
	overflow-x: auto;
	max-width: 100%;
}

.page-content-table .table>tbody>tr>td,.page-content-table .table>tbody>tr>th,.page-content-table .table>thead>tr>td,.page-content-table .table>thead>tr>th {
	padding-top: 20px;
	padding-bottom: 20px
}

.page-content-table .table>tbody>tr>td:first-child,.page-content-table .table>tbody>tr>th:first-child,.page-content-table .table>thead>tr>td:first-child,.page-content-table .table>thead>tr>th:first-child {
	padding-left: 20px
}

.page-content-table .table>tbody>tr>td:last-child,.page-content-table .table>tbody>tr>th:last-child,.page-content-table .table>thead>tr>td:last-child,.page-content-table .table>thead>tr>th:last-child {
	padding-right: 20px
}

.page-content-table .table>tbody>tr:hover>td {
	background-color: #f3f7f9
}

.page-content-table .table>tbody>tr:last-child td {
	border-bottom: 1px solid #e4eaec
}

.page-content-table .table.is-indent>tbody>tr:first-child td,
.page-content-table .table.is-indent>tfoot>tr>td {
	border-top: 0
}
.page-content-table .table.is-indent>tbody>tr:last-child td.pre-cell,
.page-content-table .table.is-indent>tbody>tr:last-child td.suf-cell,
.page-header {
	border-bottom: 0
}

.page-content-table .table.is-indent>tbody>tr>td.pre-cell,.page-content-table .table.is-indent>tbody>tr>td.suf-cell,.page-content-table .table.is-indent>tbody>tr>th.pre-cell,.page-content-table .table.is-indent>tbody>tr>th.suf-cell,.page-content-table .table.is-indent>thead>tr>td.pre-cell,.page-content-table .table.is-indent>thead>tr>td.suf-cell,.page-content-table .table.is-indent>thead>tr>th.pre-cell,.page-content-table .table.is-indent>thead>tr>th.suf-cell {
	width: 30px;
	padding: 0;
	border-top: 0;
	border-bottom: 0
}

.page-content-table .pagination {
	margin-right: 20px;
	margin-left: 20px
}

.page-copyright {
	margin-top: 60px;
	font-size: .858rem;
	color: #37474f;
	letter-spacing: 1px
}

.page-copyright .social .icon {
	color: rgba(55,71,79,.6);
	font-size: 1.143rem
}

.page-copyright .social .icon:focus,.page-copyright .social .icon:hover {
	color: rgba(55,71,79,.8)
}

.page-copyright .social .icon.active,.page-copyright .social .icon:active {
	color: #37474f
}

.page-copyright-inverse,.page-copyright-inverse .social .icon {
	color: #fff
}

.page-copyright-inverse .social .icon:active,.page-copyright-inverse .social .icon:hover {
	color: rgba(255,255,255,.8)
}

.page-header+.page-content {
	padding-top: 0
}

.page-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px
}

.page-title+.breadcrumb {
	margin-top: 10px!important
}

.page-title+.page-description {
	margin-top: 5px
}

.page-title>.icon {
	margin-right: .3em
}

.page-description {
	color: #a3afb7;
	margin-bottom: 0
}

.page-header {
	position: relative;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
	background: 0 0
}

.page-header-actions {
	position: absolute;
	top: 50%;
	right: 20px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.page-header-actions .btn-icon {
	margin-left: 6px
}

.page-header-actions>* {
	margin-bottom: 0
}

.page-header .breadcrumb {
	padding: 0;
	margin: 0
}

.page-aside-fixed.page-aside-left .site-footer,.page-aside-left .page-aside+.page-main {
	margin-left: 260px
}

.page-aside-fixed.page-aside-right .site-footer,.page-aside-right .page-aside+.page-main {
	margin-right: 260px
}

.page-header-bordered {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border-bottom: 1px solid transparent
}

.page-header-tabs {
	padding-bottom: 0
}

.page-header-tabs .nav-tabs-line {
	margin-top: 5px;
	border-bottom-color: transparent
}

.page-header-tabs .nav-tabs-line>li>a {
	padding: 5px 20px
}

.page-aside {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 260px;
	overflow-y: hidden;
	background: #fff;
	border-right: 1px solid #e4eaec
}

.page-aside .list-group-item.active,.page-aside .list-group-item.active:focus,.page-aside .list-group-item.active:hover {
	z-index: 0
}

.page-aside-left .page-aside {
	left: 0
}

.page-aside-right .page-aside {
	right: 0
}

.page-aside-right .page-aside .page-aside-inner {
	border-right: 0;
	border-left: 1px solid #e4eaec
}

.page-aside-fixed .page-aside {
	position: fixed;
	top: 0;
	height: 100%
}

.page-aside-fixed .page-aside-inner {
	height: 100%;
	overflow-y: auto
}

.page-aside .list-group-item,.page-aside-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.page-aside-section {
	position: relative
}

.page-aside-section:first-child {
	padding-top: 22px
}

.page-aside-section:first-child .page-aside-title {
	padding-top: 0;
	margin-top: 0
}

.page-aside-left .page-aside-switch,.page-aside-switch {
	padding: 15px 8px 15px 4px;
	border-radius: 0 100px 100px 0
}

.page-aside-section:last-child {
	margin-bottom: 22px
}

.page-aside-section::after {
	position: relative;
	display: block;
	margin: 22px;
	content: "";
	border-bottom: 1px solid #e4eaec
}

.page-aside-section:last-child::after {
	display: none
}

.page-aside-switch {
	position: absolute;
	top: -webkit-calc(50% - 25px);
	top: calc(50% - 25px);
	display: none;
	line-height: 1;
	background-color: #fff;
	box-shadow: 1px 0 3px rgba(0,0,0,.2)
}

.page-aside-switch .wb-chevron-right {
	display: inline-block
}

.page-aside-switch .wb-chevron-left {
	display: none
}

.page-aside-left .page-aside-switch {
	left: -webkit-calc(100% - 1px);
	left: calc(100% - 1px)
}

.page-aside-left .page-aside-switch .wb-chevron-right {
	display: inline-block
}

.page-aside-left .page-aside-switch .wb-chevron-left,.page-aside-right .page-aside-switch .wb-chevron-right {
	display: none
}

.page-aside-right .page-aside-switch {
	right: -webkit-calc(100% - 1px);
	right: calc(100% - 1px);
	left: auto;
	padding: 15px 4px 15px 8px;
	border-radius: 100px 0 0 100px
}

.page-aside-right .page-aside-switch .wb-chevron-left {
	display: inline-block
}

.page-aside-title {
	padding: 10px 20px;
	margin: 20px 0 10px;
	font-weight: 700;
	color: #526069;
	cursor: default
}

.page-aside .list-group {
	margin-bottom: 22px
}

.page-aside .list-group-item {
	padding: 13px 20px;
	margin-bottom: 1px;
	border: 0
}

.page-aside .list-group.has-actions .list-group-item .item-actions .icon,.page-aside .list-group.has-actions .list-group-item .list-editable .form-group {
	margin: 0
}

.page-aside .list-group-item .icon {
	color: #a3afb7
}

.page-aside .list-group-item .list-content {
	width: 100%
}

.page-aside .list-group-item .item-right {
	float: right
}

.page-aside .list-group-item:focus,.page-aside .list-group-item:hover {
	color: #997b71;
	background-color: #f3f7f9;
	border: 0
}

.page-aside .list-group-item:focus>.icon,.page-aside .list-group-item:hover>.icon {
	color: #997b71
}

.page-aside .list-group-item.active {
	color: #997b71;
	background-color: #f3f7f9
}

.page-aside .list-group-item.active>.icon {
	color: #997b71
}

.page-aside .list-group-item.active:focus,.page-aside .list-group-item.active:hover {
	color: #997b71;
	background-color: #f3f7f9;
	border: 0
}

.page-aside .list-group-item.active:focus>.icon,.page-aside .list-group-item.active:hover>.icon {
	color: #997b71
}

.page-aside .list-group.has-actions .list-group-item {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 2.287rem;
	cursor: pointer
}

.page-aside .list-group.has-actions .list-group-item .list-editable {
	position: relative;
	display: none
}

.page-aside .list-group.has-actions .list-group-item .list-editable .input-editable-close {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	outline: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-appearance: none
}

.page-aside .list-group.has-actions .list-group-item .item-actions {
	position: absolute;
	top: 6px;
	right: 20px;
	display: none
}

.page-aside .list-group.has-actions .list-group-item .item-actions .btn-icon {
	padding-right: 2px;
	padding-left: 2px;
	background-color: transparent
}

.page-aside .list-group.has-actions .list-group-item .item-actions .btn-icon:hover .icon {
	color: #997b71
}

.page-aside .list-group.has-actions .list-group-item:hover .item-right {
	display: none
}

.page-aside .list-group.has-actions .list-group-item:hover .item-actions {
	display: block
}

.page-aside .list-group.has-actions .list-group-item:hover .item-actions .icon {
	color: #76838f
}

@media (max-width:1199.98px) {
	.page-aside-fixed.page-aside-left .site-footer,.page-aside-left .page-aside+.page-main {
		margin-left: 180px
	}

	.page-aside-fixed.page-aside-right .site-footer,.page-aside-right .page-aside+.page-main {
		margin-right: 180px
	}

	.page-aside {
		width: 180px
	}
}

@media (max-width:767.98px) {
	.page-aside {
		position: fixed;
		top: 60px;
		z-index: 900;
		width: 260px;
		height: -webkit-calc(100% - 60px);
		height: calc(100% - 60px);
		overflow-y: visible;
		visibility: visible;
		border: none
	}

	.site-navbar-collapse-show .page-aside {
		top: 120.01px;
		height: -webkit-calc(100% - 60px * 2);
		height: calc(100% - 60px * 2)
	}

	.site-menubar-changing .page-aside,.site-menubar-open .page-aside {
		height: 100%
	}

	.page-aside .page-aside-inner {
		height: 100%;
		background-color: #fff;
		border-right: 1px solid #e4eaec
	}

	.page-aside.open {
		left: 0
	}

	.site-menubar-changing .page-aside.open,.site-menubar-open .page-aside.open {
		visibility: hidden
	}

	.page-aside.open .page-aside-switch .wb-chevron-right {
		display: none
	}

	.page-aside-right .page-aside.open .page-aside-switch .wb-chevron-right,.page-aside.open .page-aside-switch .wb-chevron-left {
		display: inline
	}

	.page-aside-left .page-aside+.page-main {
		margin-left: 0
	}

	.page-aside-right .page-aside+.page-main {
		margin-right: 0
	}

	.page-aside-right .page-aside.open .page-aside-switch .wb-chevron-left {
		display: none
	}

	.page-aside-left .page-aside {
		left: -260px!important
	}

	.page-aside-left .page-aside.open {
		left: 0!important
	}

	.page-aside-left .site-footer {
		margin-left: 0!important
	}

	.page-aside-right .page-aside {
		right: -260px!important
	}

	.page-aside-right .page-aside.open {
		right: 0!important;
		left: auto
	}

	.page-aside-right .site-footer {
		margin-right: 0!important
	}

	.page-aside-switch {
		display: block
	}

	body.site-menubar-open .page {
		height: 100%;
		overflow: hidden;
		pointer-events: none
	}

	.site-menubar-open .page {
		-webkit-transform: translate3d(240px,0,0);
		transform: translate3d(240px,0,0)
    }
    
	.site-menubar-changing .page {
		-webkit-transition: -webkit-transform .25s;
		transition: -webkit-transform .25s;
		transition: transform .25s;
		transition: transform .25s,-webkit-transform .25s
	}
}

.page-aside-switch,
.page-content-table .table>tbody>tr>td{
	cursor: pointer
}