.ribbon {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: transparent
}

.ribbon-inner {
	position: absolute;
	top: 16px;
	left: 0;
	display: inline-block;
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 30px;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
    background-color: #526069;
    max-width: 100%;
    overflow: hidden;
}

.ribbon-inner .icon {
	font-size: 16px
}

.ribbon-lg .ribbon-inner {
	height: 38px;
	font-size: 1.286rem;
	line-height: 38px
}

.ribbon-corner.ribbon-sm .ribbon-inner>.icon,.ribbon-corner.ribbon-xs .ribbon-inner>.icon,.ribbon-xs .ribbon-inner {
	font-size: .858rem
}

.ribbon-sm .ribbon-inner {
	height: 26px;
	font-size: .858rem;
	line-height: 26px
}

.ribbon-xs .ribbon-inner {
	height: 22px;
	line-height: 22px
}

.ribbon-vertical .ribbon-inner {
	top: 0;
	left: 16px;
	width: 30px;
	height: 60px;
	padding: 15px 0
}

.ribbon-vertical.ribbon-xs .ribbon-inner {
	width: 22px;
	height: 50px
}

.ribbon-vertical.ribbon-sm .ribbon-inner {
	width: 26px;
	height: 55px
}

.ribbon-vertical.ribbon-lg .ribbon-inner {
	width: 38px;
	height: 70px
}

.ribbon-reverse {
	right: -3px;
	left: auto
}

.ribbon-reverse .ribbon-inner {
	right: 0;
	left: auto
}

.ribbon-reverse.ribbon-vertical .ribbon-inner {
	right: 16px
}

.ribbon-bookmark .ribbon-inner {
	padding-right: 42px;
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#526069 0);
	background-image: linear-gradient(to left,transparent 22px,#526069 0);
	box-shadow: none
}

.ribbon-bookmark .ribbon-inner:before {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 0;
	height: 0;
	border: 15px solid #526069;
    border-right: 10px solid transparent;
    content: "";
}

.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	height: 82px;
	padding-right: 0;
	padding-bottom: 37px;
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#526069 0);
	background-image: linear-gradient(to top,transparent 22px,#526069 0)
}

.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	top: auto;
	bottom: 0;
	left: 0;
	margin-top: -15px;
	border-right: 15px solid #526069;
	border-bottom: 10px solid transparent
}

.ribbon-bookmark.ribbon-vertical.ribbon-xs .ribbon-inner:before {
	margin-top: -11px
}

.ribbon-bookmark.ribbon-vertical.ribbon-sm .ribbon-inner:before {
	margin-top: -13px
}

.ribbon-bookmark.ribbon-vertical.ribbon-lg .ribbon-inner:before {
	margin-top: -19px
}

.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	padding-right: 20px;
	padding-left: 42px;
	background-image: -webkit-linear-gradient(left,transparent 22px,#526069 0);
	background-image: linear-gradient(to right,transparent 22px,#526069 0)
}

.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	left: 0;
	border-right: 15px solid #526069;
	border-left: 10px solid transparent
}

.ribbon-bookmark.ribbon-reverse.ribbon-vertical .ribbon-inner {
	padding-right: 0;
	padding-left: 0
}

.ribbon-bookmark.ribbon-reverse.ribbon-vertical .ribbon-inner:before {
	right: auto;
	left: 0;
	border-right-color: #526069;
	border-bottom-color: transparent;
	border-left: 15px solid #526069
}

.ribbon-bookmark.ribbon-xs .ribbon-inner:before {
	border-width: 11px
}

.ribbon-bookmark.ribbon-sm .ribbon-inner:before {
	border-width: 13px
}

.ribbon-bookmark.ribbon-lg .ribbon-inner:before {
	border-width: 19px
}

.ribbon-badge {
	top: -2px;
    left: -2px;
    overflow: hidden;
}

.ribbon-badge .ribbon-inner {
	left: -40px;
	width: 100%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.ribbon-badge.ribbon-reverse {
	right: -2px;
	left: auto
}

.ribbon-badge.ribbon-reverse .ribbon-inner {
	right: -40px;
	left: auto;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.ribbon-badge.ribbon-bottom {
	top: auto;
	bottom: -2px
}

.ribbon-badge.ribbon-bottom .ribbon-inner {
	top: auto;
	bottom: 16px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.ribbon-badge.ribbon-bottom.ribbon-reverse .ribbon-inner {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.ribbon-corner {
	top: 0;
    left: 0;
    overflow: hidden;
}

.ribbon-corner:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #526069;
    border-left-color: #526069;
    content: "";
}

.ribbon-corner .ribbon-inner {
	top: 0;
	left: 0;
	width: 40px;
	height: 35px;
	padding: 0;
	line-height: 35px;
	background-color: transparent
}

.ribbon-corner.ribbon-bottom,.ribbon-corner.ribbon-bottom .ribbon-inner {
	top: auto;
	bottom: 0
}

.ribbon-corner.ribbon-reverse,.ribbon-corner.ribbon-reverse .ribbon-inner {
	right: 0;
	left: auto
}

.ribbon-corner.ribbon-reverse:before {
	right: 0;
	left: auto;
	border-right-color: #526069;
	border-left-color: transparent
}

.ribbon-corner.ribbon-bottom:before {
	top: auto;
	bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #526069
}

.ribbon-corner.ribbon-xs:before {
	border-width: 22px
}

.ribbon-corner.ribbon-xs .ribbon-inner {
	width: 28px;
	height: 26px;
	line-height: 26px
}

.ribbon-corner.ribbon-sm:before {
	border-width: 26px
}

.ribbon-corner.ribbon-sm .ribbon-inner {
	width: 34px;
	height: 32px;
	line-height: 32px
}

.ribbon-corner.ribbon-lg:before {
	border-width: 36px
}

.ribbon-corner.ribbon-lg .ribbon-inner {
	width: 46px;
	height: 44px;
	line-height: 44px
}

.ribbon-corner.ribbon-lg .ribbon-inner>.icon {
	font-size: 1.286rem
}

.ribbon-clip {
	left: -14px
}

.ribbon-clip:before {
	position: absolute;
	top: 46px;
	left: 0;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-top-color: #37474f;
    border-right-color: #37474f;
    content: "";
}

.ribbon-clip .ribbon-inner {
	padding-left: 23px;
	border-radius: 0 5px 5px 0
}

.ribbon-clip.ribbon-reverse {
	right: -14px;
	left: auto
}

.ribbon-clip.ribbon-reverse:before {
	right: 0;
	left: auto;
	border-right-color: transparent;
	border-left-color: #37474f
}

.ribbon-clip.ribbon-reverse .ribbon-inner {
	padding-right: 23px;
	padding-left: 15px;
	border-radius: 5px 0 0 5px
}

.ribbon-clip.ribbon-bottom {
	top: auto;
	bottom: -3px
}

.ribbon-clip.ribbon-bottom:before {
	top: auto;
	bottom: 46px;
	border-top-color: transparent;
	border-bottom-color: #37474f
}

.ribbon-clip.ribbon-bottom .ribbon-inner {
	top: auto;
	bottom: 16px
}

.ribbon-clip.ribbon-xs:before {
	top: 38px
}

.ribbon-clip.ribbon-xs.ribbon-bottom:before {
	top: auto;
	bottom: 38px
}

.ribbon-clip.ribbon-sm:before {
	top: 42px
}

.ribbon-clip.ribbon-sm.ribbon-bottom:before {
	top: auto;
	bottom: 42px
}

.ribbon-clip.ribbon-lg:before {
	top: 54px
}

.ribbon-clip.ribbon-lg.ribbon-bottom:before {
	top: auto;
	bottom: 54px
}

.ribbon-primary .ribbon-inner {
	background-color: #997b71
}

.ribbon-primary.ribbon-bookmark .ribbon-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#997b71 0);
	background-image: linear-gradient(to left,transparent 22px,#997b71 0)
}

.ribbon-primary.ribbon-bookmark .ribbon-inner:before {
	border-color: #997b71 transparent #997b71 #997b71
}

.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	background-image: -webkit-linear-gradient(left,transparent 22px,#997b71 0);
	background-image: linear-gradient(to right,transparent 22px,#997b71 0)
}

.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #997b71;
	border-left-color: transparent
}

.ribbon-primary.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#997b71 0);
	background-image: linear-gradient(to top,transparent 22px,#997b71 0)
}

.ribbon-primary.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	border-right-color: #997b71;
	border-bottom-color: transparent
}

.ribbon-primary.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
	border-right-color: #997b71;
	border-bottom-color: transparent;
	border-left-color: #997b71
}

.ribbon-primary.ribbon-corner:before {
	border-top-color: #997b71;
	border-left-color: #997b71
}

.ribbon-primary.ribbon-corner .ribbon-inner {
	background-color: transparent
}

.ribbon-primary.ribbon-corner.ribbon-reverse:before {
	border-right-color: #997b71;
	border-left-color: transparent
}

.ribbon-primary.ribbon-corner.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #997b71
}

.ribbon-primary.ribbon-clip:before {
	border-top-color: #82675f;
	border-right-color: #82675f
}

.ribbon-primary.ribbon-clip.ribbon-reverse:before {
	border-right-color: transparent;
	border-left-color: #82675f
}

.ribbon-primary.ribbon-clip.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #82675f
}

.ribbon-success .ribbon-inner {
	background-color: #11c26d
}

.ribbon-success.ribbon-bookmark .ribbon-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#11c26d 0);
	background-image: linear-gradient(to left,transparent 22px,#11c26d 0)
}

.ribbon-success.ribbon-bookmark .ribbon-inner:before {
	border-color: #11c26d transparent #11c26d #11c26d
}

.ribbon-success.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	background-image: -webkit-linear-gradient(left,transparent 22px,#11c26d 0);
	background-image: linear-gradient(to right,transparent 22px,#11c26d 0)
}

.ribbon-success.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #11c26d;
	border-left-color: transparent
}

.ribbon-success.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#11c26d 0);
	background-image: linear-gradient(to top,transparent 22px,#11c26d 0)
}

.ribbon-success.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	border-right-color: #11c26d;
	border-bottom-color: transparent
}

.ribbon-success.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
	border-right-color: #11c26d;
	border-bottom-color: transparent;
	border-left-color: #11c26d
}

.ribbon-success.ribbon-corner:before {
	border-top-color: #11c26d;
	border-left-color: #11c26d
}

.ribbon-success.ribbon-corner .ribbon-inner {
	background-color: transparent
}

.ribbon-success.ribbon-corner.ribbon-reverse:before {
	border-right-color: #11c26d;
	border-left-color: transparent
}

.ribbon-success.ribbon-corner.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #11c26d
}

.ribbon-success.ribbon-clip:before {
	border-top-color: #05a85c;
	border-right-color: #05a85c
}

.ribbon-success.ribbon-clip.ribbon-reverse:before {
	border-right-color: transparent;
	border-left-color: #05a85c
}

.ribbon-success.ribbon-clip.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #05a85c
}

.ribbon-info .ribbon-inner {
	background-color: #0bb2d4
}

.ribbon-info.ribbon-bookmark .ribbon-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#0bb2d4 0);
	background-image: linear-gradient(to left,transparent 22px,#0bb2d4 0)
}

.ribbon-info.ribbon-bookmark .ribbon-inner:before {
	border-color: #0bb2d4 transparent #0bb2d4 #0bb2d4
}

.ribbon-info.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	background-image: -webkit-linear-gradient(left,transparent 22px,#0bb2d4 0);
	background-image: linear-gradient(to right,transparent 22px,#0bb2d4 0)
}

.ribbon-info.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #0bb2d4;
	border-left-color: transparent
}

.ribbon-info.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#0bb2d4 0);
	background-image: linear-gradient(to top,transparent 22px,#0bb2d4 0)
}

.ribbon-info.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	border-right-color: #0bb2d4;
	border-bottom-color: transparent
}

.ribbon-info.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
	border-right-color: #0bb2d4;
	border-bottom-color: transparent;
	border-left-color: #0bb2d4
}

.ribbon-info.ribbon-corner:before {
	border-top-color: #0bb2d4;
	border-left-color: #0bb2d4
}

.ribbon-info.ribbon-corner .ribbon-inner {
	background-color: transparent
}

.ribbon-info.ribbon-corner.ribbon-reverse:before {
	border-right-color: #0bb2d4;
	border-left-color: transparent
}

.ribbon-info.ribbon-corner.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #0bb2d4
}

.ribbon-info.ribbon-clip:before {
	border-top-color: #0099b8;
	border-right-color: #0099b8
}

.ribbon-info.ribbon-clip.ribbon-reverse:before {
	border-right-color: transparent;
	border-left-color: #0099b8
}

.ribbon-info.ribbon-clip.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #0099b8
}

.ribbon-warning .ribbon-inner {
	background-color: #eb6709
}

.ribbon-warning.ribbon-bookmark .ribbon-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#eb6709 0);
	background-image: linear-gradient(to left,transparent 22px,#eb6709 0)
}

.ribbon-warning.ribbon-bookmark .ribbon-inner:before {
	border-color: #eb6709 transparent #eb6709 #eb6709
}

.ribbon-warning.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	background-image: -webkit-linear-gradient(left,transparent 22px,#eb6709 0);
	background-image: linear-gradient(to right,transparent 22px,#eb6709 0)
}

.ribbon-warning.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #eb6709;
	border-left-color: transparent
}

.ribbon-warning.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#eb6709 0);
	background-image: linear-gradient(to top,transparent 22px,#eb6709 0)
}

.ribbon-warning.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	border-right-color: #eb6709;
	border-bottom-color: transparent
}

.ribbon-warning.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
	border-right-color: #eb6709;
	border-bottom-color: transparent;
	border-left-color: #eb6709
}

.ribbon-warning.ribbon-corner:before {
	border-top-color: #eb6709;
	border-left-color: #eb6709
}

.ribbon-warning.ribbon-corner .ribbon-inner {
	background-color: transparent
}

.ribbon-warning.ribbon-corner.ribbon-reverse:before {
	border-right-color: #eb6709;
	border-left-color: transparent
}

.ribbon-warning.ribbon-corner.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #eb6709
}

.ribbon-warning.ribbon-clip:before {
	border-top-color: #de4e00;
	border-right-color: #de4e00
}

.ribbon-warning.ribbon-clip.ribbon-reverse:before {
	border-right-color: transparent;
	border-left-color: #de4e00
}

.ribbon-warning.ribbon-clip.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #de4e00
}

.ribbon-danger .ribbon-inner {
	background-color: #ff4c52
}

.ribbon-danger.ribbon-bookmark .ribbon-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(right,transparent 22px,#ff4c52 0);
	background-image: linear-gradient(to left,transparent 22px,#ff4c52 0)
}

.ribbon-danger.ribbon-bookmark .ribbon-inner:before {
	border-color: #ff4c52 transparent #ff4c52 #ff4c52
}

.ribbon-danger.ribbon-bookmark.ribbon-reverse .ribbon-inner {
	background-image: -webkit-linear-gradient(left,transparent 22px,#ff4c52 0);
	background-image: linear-gradient(to right,transparent 22px,#ff4c52 0)
}

.ribbon-danger.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #ff4c52;
	border-left-color: transparent
}

.ribbon-danger.ribbon-bookmark.ribbon-vertical .ribbon-inner {
	background-image: -webkit-linear-gradient(bottom,transparent 22px,#ff4c52 0);
	background-image: linear-gradient(to top,transparent 22px,#ff4c52 0)
}

.ribbon-danger.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
	border-right-color: #ff4c52;
	border-bottom-color: transparent
}

.ribbon-danger.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
	border-right-color: #ff4c52;
	border-bottom-color: transparent;
	border-left-color: #ff4c52
}

.ribbon-danger.ribbon-corner:before {
	border-top-color: #ff4c52;
	border-left-color: #ff4c52
}

.ribbon-danger.ribbon-corner .ribbon-inner {
	background-color: transparent
}

.ribbon-danger.ribbon-corner.ribbon-reverse:before {
	border-right-color: #ff4c52;
	border-left-color: transparent
}

.ribbon-danger.ribbon-corner.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #ff4c52
}

.ribbon-danger.ribbon-clip:before {
	border-top-color: #f2353c;
	border-right-color: #f2353c
}

.ribbon-danger.ribbon-clip.ribbon-reverse:before {
	border-right-color: transparent;
	border-left-color: #f2353c
}

.ribbon-danger.ribbon-clip.ribbon-bottom:before {
	border-top-color: transparent;
	border-bottom-color: #f2353c
}