.nav-quick {
	padding: 0;
	margin-right: 0;
	margin-bottom: 22px;
	margin-left: 0;
	background-color: #fff;
	border-radius: .215rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.05)
}

.nav-quick .nav-item {
	position: relative;
	display: block;
	padding: 0;
	text-align: center;
	list-style: none
}

.nav-quick .nav-link {
	padding: 1.143rem 0;
	color: #76838f
}

.nav-quick .nav-link .icon {
	display: block;
	margin-bottom: .2rem;
	font-size: 2.286rem
}

.nav-quick .badge,
.nav-quick .badge-pill {
	position: absolute;
	top: 0;
	right: 0
}

.nav-quick-sm .nav-link {
	padding: .858rem 0
}

.nav-quick-sm .nav-link .icon {
	font-size: 1.7145rem
}

.nav-quick-lg .nav-link {
	padding: 1.572rem 0
}

.nav-quick-lg .nav-link .icon {
	font-size: 2.8575rem
}

.nav-quick-bordered {
	border-top: 1px solid #e4eaec;
	border-left: 1px solid #e4eaec
}

.nav-quick-bordered .nav-item {
	border-right: 1px solid #e4eaec;
	border-bottom: 1px solid #e4eaec
}
